html {
    background-image: url("nahihi.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin-top: 10px;
    margin-bottom: 0%;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
    padding-bottom: 2%;
    text-align: center;
}
.form{
    display: inline-block;
}

#login_form {
    width: 500px;
    height: 456px;
    border-color: #fff;
    border-style: groove;
    border-radius: 25%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    backdrop-filter: blur(1px);
    transition: 0.3s;
}
img {
    border-radius: 50%;
    width: 10%;
    height: auto;
  }
#login_form:hover {
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.781);
}

h2 {
    font-family: 'Aoboshi One', serif;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}

h1 {
    font-family: 'Aoboshi One', serif;
    color: #243825;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}

input {
    width: 300px;
    padding: 27px 23px;
    border-radius: 25px;
    background: inherit;
    border-style: none;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.377);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 19px;
    color: #fff;
    margin-bottom: 25px;
    transition: 0.2s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffffa8;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    transition: 0.2s;
  }

  input:hover {
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.616);
}

button {
    padding: 25px 25px;
    color: #000;
    background-color: #fff;
    border-style: none;
    border-radius: 25%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    transition: 0.3s;
}

button:hover {
    background-color:rgba(0, 0, 0, 0.616);
    font-size: 24px;
    transform: scale(1, 1);
    box-shadow: 6px 6px 6px 6px rgba(255, 255, 255, 0.747);
    color: #f9f9f9;
    cursor: pointer;
}

#login_form .message {
    padding: 25px 25px;   
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    transition: 0.3s;
  }

  #login_form .message a {
    color: #4CAF50;
    text-decoration: none;

  }

  #login_form .message:hover{
    background-color: none;
    font-size: 18px;
    transform: scale(1, 1);
    color: #fff;
    cursor: pointer;
  }